body
  grid-template-areas: "nav main" "nav aside"
  grid-template-columns: min-content

nav
  flex-direction: column
  ul
    flex-direction: column
    gap: 1.5em

  #center
    padding: 1em 0em
    border-top-right-radius: .5em
    border-bottom-right-radius: .5em
