@import ../colors

nav
  li
    list-style: none

  #start, #center, #end
    background: $dark

  button
    width: 48px
    height: 48px
    background: $light
    border-radius: 0.5em
    cursor: pointer
