
nav
  #start
    button#profile
  #center
    ul
      li
        button#team
      li
        button#inventory
      li
        button#craft
      li
        button#sale
      li
        button#mail
      li
        button#players
      li
        button#events
  #end
    button#logout
