
@import nullstyle

@import dev

@import colors

html, body
  width: 100%
  height: 100%

body
  background: $light
  display: grid
  grid-template-columns: min-content 1fr

nav button
  width: 48px
  height: 48px

@import navbar/universal

@media ( min-width: 768px )
  @import navbar/desctop

@media ( max-width: 767px )
  @import navbar/phone
