@import nullstyle
//@import dev
@import colors

body
  width: inherit
  height: inherit
  background: $light
  display: grid
  gap: .25em

main
  grid-area: main
  background: $dark

aside
  grid-area: aside
  background: $bootstrap-dark

@import navbar/base
@media ( min-width: 768px )
  @import navbar/desctop
@media ( max-width: 767px )
  @import navbar/phone
